<h1 class="text-center">Eat Da Burger!</h1>

<h2 class="text-center">What Kind of Burger Do You Want?</h2>
<div class="text-center">
    <img class="mx-auto img-fluid" style="height: 630px; width:auto"
        src="https://i.pinimg.com/originals/6a/27/ac/6a27ac5560df47ec8bb998051b74b1f0.png">
</div>

<div class="row">
    <div class="col-6">
        <h3><strong>Tasty Burgers!</strong></h3>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li><strong> {{this.id}}. {{this.burger_name}}</strong></li>
            <button class="devourburger btn btn-warning" data-id="{{this.id}}">
                EAT IT!
            </button>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-6">
        <h3><strong>Devoured Burgers</strong></h3>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li><strong> {{this.id}}. {{this.burger_name}}</strong></li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h3>Add a Burger</h3>
        <form class="create-form">
            <div class="form-group">
                <label for="add">Burger</label>
                <input type="text" id="add" name="burger">
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
</div>